@charset "utf-8";
body { background: #1E1E1E;}
.wrapper { width:100%;}
a:hover span.img_png { display:block; filter: alpha(opacity=80); }
.pc_head_nav li a img { display:none;}

/*add bookmark調整分*/
.pc_head_nav li.head_btn_01 a { background-image:url(../images/pc_head_nav_01_off.jpg); width:116px; height:30px; }
.pc_head_nav li.head_btn_02 a { background-image:url(../images/pc_head_nav_02_off.jpg); width:116px; height:30px; }
.pc_head_nav li.head_btn_03 a { background-image:url(../images/pc_head_nav_03_off.jpg); width:94px; height:30px; }
.pc_head_nav li.head_btn_01 a:hover { background-image:url(../images/pc_head_nav_01_on.jpg); }
.pc_head_nav li.head_btn_02 a:hover { background-image:url(../images/pc_head_nav_02_on.jpg); }
.pc_head_nav li.head_btn_03 a:hover { background-image:url(../images/pc_head_nav_03_on.jpg); }

/*gn調整分*/
/*
#Global_area .view_all a { width:98px !important; height:40px !important; background-image:url(../images/globalnet_btn_ie8_off.png); display:block; margin:0 auto;}
#Global_area .view_all a:hover { background-image:url(../images/globalnet_btn_ie8_on.png);}
#Global_area .view_all a img { display:none;}
*/
#Global_area #Global_area_inner .global_map .area_icons li a { width:82px; height:82px; display:block;} 
#Global_area #Global_area_inner .global_map .area_icons li.area01 a { background-image:url(../images/globalnet_icon_01_off.png); }
#Global_area #Global_area_inner .global_map .area_icons li.area02 a { background-image:url(../images/globalnet_icon_02_off.png); }
#Global_area #Global_area_inner .global_map .area_icons li.area03 a { background-image:url(../images/globalnet_icon_03_off.png); }
#Global_area #Global_area_inner .global_map .area_icons li.area04 a { background-image:url(../images/globalnet_icon_04_off.png); }
#Global_area #Global_area_inner .global_map .area_icons li.area05 a { background-image:url(../images/globalnet_icon_05_off.png); }
#Global_area #Global_area_inner .global_map .area_icons li.area06 a { background-image:url(../images/globalnet_icon_06_off.png); }
#Global_area #Global_area_inner .global_map .area_icons li.area07 a { background-image:url(../images/globalnet_icon_07_off.png); }
#Global_area #Global_area_inner .global_map .area_icons li.area01 a:hover { background-image:url(../images/globalnet_icon_01_on.png); }
#Global_area #Global_area_inner .global_map .area_icons li.area02 a:hover { background-image:url(../images/globalnet_icon_02_on.png); }
#Global_area #Global_area_inner .global_map .area_icons li.area03 a:hover { background-image:url(../images/globalnet_icon_03_on.png); }
#Global_area #Global_area_inner .global_map .area_icons li.area04 a:hover { background-image:url(../images/globalnet_icon_04_on.png); }
#Global_area #Global_area_inner .global_map .area_icons li.area05 a:hover { background-image:url(../images/globalnet_icon_05_on.png); }
#Global_area #Global_area_inner .global_map .area_icons li.area06 a:hover { background-image:url(../images/globalnet_icon_06_on.png); }
#Global_area #Global_area_inner .global_map .area_icons li.area07 a:hover { background-image:url(../images/globalnet_icon_07_on.png); }
#Global_area #Global_area_inner .global_map .area_icons li a img { display:none;}


#Pickup_bnr li a { width:465px; height:247px; display:block;}
#Pickup_bnr li.pickup_01 a { background-image:url(../images/foot_bnr_02_ie8_off.jpg) !important;}
#Pickup_bnr li.pickup_02 a { background-image:url(../images/foot_bnr_01_ie8_off.jpg) !important;}
#Pickup_bnr li.pickup_01 a:hover { background-image:url(../images/foot_bnr_02_ie8_on.jpg) !important;}
#Pickup_bnr li.pickup_02 a:hover { background-image:url(../images/foot_bnr_01_ie8_on.jpg) !important;}
#Pickup_bnr li.pickup_02 { float:right;}
#Pickup_bnr li a img { display:none;}
.more_info_bnr li a { width:465px; height:208px; display:block;}
.more_info_bnr li.more_btn_01 a { background-image:url(../images/foot_info_bnr_01_ie8_off.jpg) !important;}
.more_info_bnr li.more_btn_02 a { background-image:url(../images/foot_info_bnr_02_ie8_off.jpg) !important;}
.more_info_bnr li.more_btn_01 a:hover { background-image:url(../images/foot_info_bnr_01_ie8_on.jpg) !important;}
.more_info_bnr li.more_btn_02 a:hover { background-image:url(../images/foot_info_bnr_02_ie8_on.jpg) !important;}
.more_info_bnr li.more_btn_02 { float:right;}
.more_info_bnr li a img { display:none;}


/* Top Page :: /top/index.html */
.index #Mainvis #Mainvis_inner .btnstyle_01 a { background-image:url(../../images/btn_01_off.png); display:block; height:55px;}
.index #Mainvis #Mainvis_inner .btnstyle_01 a:hover { background-image:url(../../images/btn_01_on.png);}
.index #Mainvis #Mainvis_inner .btnstyle_01 a img { display:none;}
.index #Cont .boxstyle_01 .btnstyle_02 a,
.index #Cont .boxstyle_02 .btnstyle_02 a,
.index #Cont .boxstyle_03 .btnstyle_02 a { background-image:url(../../images/btn_02_off.png); width:105px; height:40px; display:block;}
.index #Cont .boxstyle_01 .btnstyle_02 a:hover,
.index #Cont .boxstyle_02 .btnstyle_02 a:hover,
.index #Cont .boxstyle_03 .btnstyle_02 a:hover { background-image:url(../../images/btn_02_on.png);}
.index #Cont .boxstyle_01 .btnstyle_02 a img,
.index #Cont .boxstyle_02 .btnstyle_02 a img,
.index #Cont .boxstyle_03 .btnstyle_02 a img { display:none;}
/*#Mainvis #Mainvis_inner .imgstyle_01 { display:block;}*/


/* Design Page :: /design/index.html */
.design .flex-control-paging li a {background-image:url(../../design/images/btn_pager_flex_ie8.png); }
.design #Mainvis #bx-pager01 a#CL01 { background-image:url(../../design/images/color_thumb_01_ie8.png); }
.design #Mainvis #bx-pager01 a#CL02 { background-image:url(../../design/images/color_thumb_02_ie8.png); }
.design #Mainvis #bx-pager01 a#CL03 { background-image:url(../../design/images/color_thumb_03_ie8.png); }
.design #Mainvis #bx-pager01 a#CL04 { background-image:url(../../design/images/color_thumb_04_ie8.png); }
.design #Mainvis #bx-pager01 a#CL05 { background-image:url(../../design/images/color_thumb_05_ie8.png); }
.design #Mainvis #bx-pager01 a#CL06 { background-image:url(../../design/images/color_thumb_06_ie8.png); }
.design #Mainvis #bx-pager01 a#CL07 { background-image:url(../../design/images/color_thumb_07_ie8.png); }
.design #Mainvis #bx-pager01 a#CL08 { background-image:url(../../design/images/color_thumb_08_ie8.png); }
.design #Mainvis #bx-pager01 a#CL09 { background-image:url(../../design/images/color_thumb_09_ie8.png); }
.design #Mainvis #bx-pager01 a#CL10 { background-image:url(../../design/images/color_thumb_10_ie8.png); }
.design #Mainvis #bx-pager01 a#CL11 { background-image:url(../../design/images/color_thumb_11_ie8.png); }
.design #Mainvis #bx-pager01 a#CL12 { background-image:url(../../design/images/color_thumb_12_ie8.png); }
.design #Mainvis #bx-pager01 a:hover { background-position:left -45px; }
.design #Mainvis #bx-pager01 a.active { background-position:left bottom; cursor:default; }

/* Gallery Page :: /gallery/index.html */
.gallery .flex-control-paging li a {background-image:url(../../gallery/images/pagenavi_ie8.png); }
.gallery .flex-control-paging li a:hover {background-image:url(../../gallery/images/pagenavi_act_ie8.png);}
.gallery .flex-control-paging li a.flex-active {background-image:url(../../gallery/images/pagenavi_act_ie8.png);}

/* Models Page :: /gallery/index.html */
.models .models_tab .tabList li.lastie8 { margin-right: 0; }

/* Specifications Page :: /specifications/index.html */
.specifications .section_head .check_wrap ul li.available { background-image: url(../../specifications/images/icon_standard_ie8.png); }
.specifications .section_head .check_wrap ul li.standard { background-image: url(../../specifications/images/icon_standard_ie8.png); }
.specifications .section_head .check_wrap ul li.optional { background-image: url(../../specifications/images/icon_optional_ie8.png); }
.specifications .section_head .check_wrap ul li.not_available { background-image: url(../../specifications/images/icon_not_ie8.png); }

/* Catalog Page :: /catalog/index.html */
.catalog .catalogbox ul li a { width:217px; height:307px; display:block;}

.catalog .catalogbox ul li.cat1 a { background-image:url(../../catalog/images/img_01_off.jpg) !important;}
.catalog .catalogbox ul li.cat1 a:hover { background-image:url(../../catalog/images/img_01_on.jpg) !important;}
.catalog .catalogbox ul li.cat2 a { background-image:url(../../catalog/images/img_02_off.jpg) !important;}
.catalog .catalogbox ul li.cat2 a:hover { background-image:url(../../catalog/images/img_02_on.jpg) !important;}
.catalog .catalogbox ul li.cat3 a { background-image:url(../../catalog/images/img_03_off.jpg) !important;}
.catalog .catalogbox ul li.cat3 a:hover { background-image:url(../../catalog/images/img_03_on.jpg) !important;}
.catalog .catalogbox ul li.cat-gcc1 a { background-image:url(../../catalog/images/img_04_off.jpg) !important;}
.catalog .catalogbox ul li.cat-gcc1 a:hover { background-image:url(../../catalog/images/img_04_on.jpg) !important;}
.catalog .catalogbox ul li.cat-gcc2 a { background-image:url(../../catalog/images/img_05_off.jpg) !important;}
.catalog .catalogbox ul li.cat-gcc2 a:hover { background-image:url(../../catalog/images/img_05_on.jpg) !important;}
.catalog .catalogbox ul li.acc a { background-image:url(../../catalog/images/img_06_off.jpg) !important;}
.catalog .catalogbox ul li.acc a:hover { background-image:url(../../catalog/images/img_06_on.jpg) !important;}
.catalog .catalogbox ul li a img { display:none;}


