@charset "utf-8";

#dirPath { background: #EEE;}
#dirPath .dirpath_inner { width: 960px; height:10px; margin: 0 auto; padding:8px 0 11px; }
#dirPath ul li { display:inline; float:left; font-size:12px; color:#525252; font-weight: bold;}
#dirPath ul li a { margin-right:0.5em; background:url(../images/icon_dirpath.png) no-repeat right center; padding-right:12px; color:#0085B2; font-weight: bold; text-decoration: none;}
#Main { padding-top:120px; }
#Main .titlearea01,
#Mainvis .titlearea01 { text-align:center;}
#Main h2,
#Mainvis h2 { text-align: center;}
#Main h2 span.super, 
#Mainvis h2 span.super{ font-size:14px; font-family:"Helvetica",Arial\9, Helvetica\9, sans-serif\9; color:#E50012; line-height:1; margin-bottom:6px; display:block; font-weight:bold;}
#Main h2 span.mtxt,
#Mainvis h2 span.mtxt { font-size:56px; font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; color:#333; line-height:1;}
#Main h2.titlestyle01,
#Mainvis h2.titlestyle01 { display:inline-block; border-bottom:solid 1px #DCDCDC; }
#Main .titlearea01 h2.titlestyle01 { padding: 0 20px 5px;}

/* =========================================================
 ◆ Design Page CSS
========================================================= */
/* 追加分 */

/* Web Font [AlternateGothicCom-No2] */
.design #Mainvis h2 span.mtxt, .design .box_style01 h2, .design .box_style01 .balance h3,.design .forward .forward_inner h2 , .design .exterior h2, .design .exterior ul li figure h3, .design .interior h2, .design .interior h3 , .design .liberating h2 , .design .seating h2 , .design .seating h3 , .design .row-seats h3 { font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; }

/* Web Font [Helvetica] */
.design #Mainvis h2 span.super, .design #Mainvis ul.bxslider01 li figcaption { font-family:"Helvetica",Arial\9, Helvetica\9, sans-serif\9; }

/* header fix */
.design header { position: fixed; z-index: 1000; }

/* Main */
.design #Mainvis { background:url(../../design/images/bg_gradation.png) repeat-x left bottom #fff; margin-bottom:0px; padding-bottom:50px; }
.design #Mainvis #Mainvis_inner { width:960px; position: relative; margin:0 auto; padding-top:58px; }
.design #Mainvis h2 { margin:0 auto 7px; }
.design #Mainvis ul.bxslider01 { height:401px; overflow:hidden; }
.design #Mainvis ul.bxslider01 li { width:auto; float:left; }
.design #Mainvis ul.bxslider01 li figure img { margin-bottom: 18px; }
.design #Mainvis ul.bxslider01 li figcaption { font-size:12px; color:#666; line-height:1.2; text-align: center; }

.design .section_wrap { background:#fff; padding:59px 0 0; }

.design .forward { width:960px; background:url(../../design/images/bg_gradation_adventure.png) repeat-x left top #f2faff; margin:0 auto 95px; }
.design .forward .forward_inner { padding:56px 30px 60px; }
.design .forward .forward_inner h2 { font-size:48px; color:#333; line-height:1; margin-bottom:37px; text-align: left !important; }
.design .forward .forward_inner p { font-size:16px; color:#666; line-height:22.5px; margin-bottom: 20px; }
.design .forward .forward_inner .fi_box01 img { width: 600px; height: auto; float:right }
.design .forward .forward_inner .fi_box01_L { width: 270px; float: left; margin-right: 30px; }

.design .box_style01 { width:960px; margin:0 auto 95px; }
.design .box_style01 h2 { font-size:48px; color:#333; line-height:1; margin-bottom:37px; text-align: left !important; }
.design .box_style01 .box_wrap p { font-size:16px; color:#666; line-height:22.5px; margin-bottom: 20px; }
.design .box_style01 .box_wrap .imgstyle_01 { width:465px; display:inline; margin:0 30px 20px 0;  }
.design .box_style01 .box_wrap .txt_area_R { width:465px; display:inline;  float: right; }


.design .exterior { width:960px; margin:0 auto 48px; }
.design .exterior h2 { font-size:48px; color:#333; line-height:1; margin-bottom:39px; text-align: left !important; }
.design .exterior ul li { width:300px; float:left; margin:0 20px 42px 0; }
.design .exterior ul li figure img { margin-bottom: 12px; }
.design .exterior ul li figure h3{ font-size:24px; color:#333; line-height:1; margin-bottom:2px; }
.design .exterior ul li figure p{ font-size:16px; color:#666; line-height:22.5px;}

.design .interior { background: #000; }
.design .interior .interior_inner { width:960px; margin:0 auto; padding:53px 0 125px; }
.design .interior h2 { font-size:56px; color:#fff; line-height:1; text-align:center; width:185px; border-bottom:solid 1px #666; margin:0 auto 34px; padding-bottom:4px; }
.design .interior h3 { font-size:48px; color:#999; line-height:1; text-align:center; margin-bottom:1px; }
.design .interior p { font-size:16px; color:#ccc; line-height:22.5px; width:690px; margin:0 auto 46px; }
.design .interior #carousel { margin-bottom: 30px; }
.design .interior h4 { font-size:32px; font-family: "AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; color:#666666; padding: 30px 0 6px; border-bottom: 1px solid #666; margin-bottom: 30px; }
.design .interior .titstyle_01 { font-size:24px; font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; color:#FFF; margin-bottom:7px; }

.design .interior ul.seat_panel_list { margin-bottom:30px; }
.design .interior ul.seat_panel_list.last { margin-bottom:0; }
.design .interior ul.seat_panel_list li { width:465px; display:inline; float:left; margin:0 30px 20px 0; }
.design .interior ul.seat_panel_list li.even_img { margin-right:0; }
.design .interior ul.seat_panel_list li.last { margin-bottom:0; }
.design .interior .left_img { width:465px; display:inline; float:left; margin-right:30px; }
.design .interior .right_img { width:465px; display:inline; float:left; }
.design .interior .txtstyle_01 { font-size:12px; color:#999999; line-height:1.4; font-style:italic; }

.design .box_style01 ul.space_list { margin-bottom:30px; }
.design .box_style01 ul.space_list.last { margin-bottom:0; }
.design .box_style01 ul.space_list li { width:465px; display:inline; float:left; margin:0 30px 20px 0; }
.design .box_style01 ul.space_list li.even_img { margin-right:0; }
.design .box_style01 ul.space_list li.last { margin-bottom:0; }
.design .box_style01 h4 { font-size:32px; font-family: "AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; color:#333333; margin-bottom: 5px; }

.design .box_style01 .box_wrap_L { width:465px; display:inline; float:left; margin-right: 30px; }
.design .box_style01 .box_wrap_L p { font-size:16px; color:#666; line-height:22.5px; margin-bottom: 20px; }
.design .box_style01 .box_wrap_R { width:465px; display:inline; float:right; }
.design .box_style01 .box_wrap_R p { font-size:16px; color:#666; line-height:22.5px; margin-bottom: 20px; }
.design .box_style01 .mb9 img { margin-bottom: 9px; }

.design .liberating p { font-size:16px; color:#666; line-height:22.5px;}
.design .liberating h2+p { font-size:16px; color:#666; line-height:22.5px; width:690px; margin:0 auto 46px;}
.design .liberating h2 { font-size:48px; line-height:1; text-align:center !important; margin-bottom:1px; }
.design .liberating #flexslider { margin-bottom:40px;}

.design .seating h3 { font-size:32px; color:#666666; padding-bottom: 6px; border-bottom: 1px solid #DDDDDD; margin-bottom: 30px; }
.design .seating { width:960px; margin: 0 auto 46px; }
.design .seating h2 { font-size:48px; color:#333; line-height:1; margin-bottom:39px; text-align: left !important; }
.design .seating ul li { width:300px; float:left; margin: 0 20px 0 0; }
.design .seating ul li figure img { margin-bottom: 0; }
.design .seating ul li figure h3{ font-size:24px; color:#333; line-height:1; margin-bottom:2px; }
.design .seating ul li figure p{ font-size:16px; color:#666; line-height:22.5px; margin-bottom: 20px;}

.design .second-row { width:960px; margin:0 auto 40px; }
.design .second-row .l_box { width:300px; display:inline; float:left; margin-right:30px; }
.design .second-row .l_box .hidden_img { display: none; }
.design .second-row .r_box { width:630px; display:inline; float:left; }
.design .second-row .img_4wd { width: 300px; height: auto; margin-right: 15px; float: left; }

.design .row-seats h3 { font-size:32px; color:#666666; padding-bottom: 6px; border-bottom: 1px solid #DDDDDD; margin-bottom: 30px; }
.design .row-seats  { font-size:32px; color:#666666; }
.design .row-seats { width:960px; margin:0 auto 40px; }
.design .row-seats .r_box { width:465px; display:inline; float:left; }
.design .row-seats .r_box p{ font-size:16px; color:#666666; line-height:22.5px; margin-bottom: 20px;}
.design .row-seats .l_box { width:465px; display:inline; float:left; margin-right:30px; }


/* =========================================================
 ◆ Models Page CSS
========================================================= */
.models #dirPath { margin-bottom: 58px;}
.models .titlearea01 { margin-bottom: 16px;}
.models .titlearea01 .titlestyle02 { border-bottom:none;}
.models .models_tab { width: 960px; margin: 0 auto;}
.models .models_tab #Tabs { margin-bottom: 100px;}
.models .models_tab .tabList { background: url(../../models/images/models_tab_bg.png) left bottom repeat-x; }


.models .models_tab .tabList li { display: inline; float: left; background: #EEEEEE; margin-right: 10px; width: 475px; }
/*.models .models_tab .tabList li:first-child { width: 312px; }*/
.models .models_tab .tabList li.active { background: #FFF; }
.models .models_tab .tabList li.last { margin-right: 0; float: right; }
.models .models_tab .tabList li a { font-family: "AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; font-size: 24px; color: #666666; text-decoration: none; padding: 15px 0; display: block; text-align: center; border: 1px solid #EEEEEE; border-bottom: 1px solid #d7d7d7; }
.models .models_tab .tabList li a:hover { background: #e1e1e1; border-color: #e1e1e1; }
.models .models_tab .tabList li.active a { border: 1px solid #D7D7D7; border-bottom: none; color: #333; border-bottom: 1px solid #FFFFFF;  }
.models .models_tab .tabList li.active a:hover { background: #FFF; }


.models .models_tab .tabBox { border-right: solid 1px #D7D7D7; border-bottom: solid 1px #D7D7D7; border-left: solid 1px #D7D7D7;}
.models .models_tab .tabBox .img_area { margin-bottom: 43px;}
.models .models_tab .tabBox .img_area .img_area_l { width: 518px; padding: 61px 25px 0 86px; display: inline; float: left;} 
.models .models_tab .tabBox .img_area .img_area_r { width: 270px; padding: 41px 29px 0 30px; display: inline; float: left;}
.models .models_tab .tabBox .img_area .img_area_r a { display: block; position:relative; outline:none; }
.models .models_tab .tabBox .img_area .img_area_r a .image { position:relative; top:0; left:0; }
.models .models_tab .tabBox .img_area .img_area_r a .zoom { position:absolute; right:10px; bottom:10px; }
.models .models_tab .tabBox .img_area .img_area_r .img_inner_l {margin-bottom: 20px;}
.models .models_tab .tabBox .txt_area { width: 900px; margin: 0 auto 50px;}
.models .models_tab .tabBox .txt_area .tit_area { padding-bottom: 9px; margin-bottom: 27px; font-family: "AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; font-size: 28px; color: #666; border-bottom: solid 1px #DDDDDD;}
.models .models_tab .tabBox .txt_area .spec_list_wrap .spec_list_inner { display: inline; float: left; width: 421px; padding-left: 13px; margin-right: 30px;}
.models .models_tab .tabBox .txt_area .spec_list_wrap .spec_list_inner02 { width: 416px; padding-left: 18px; margin-right: 0;}
.models .models_tab .tabBox .txt_area .spec_list_wrap .spec_list_inner li { margin-bottom: 8px; line-height:22.5px; font-size: 16px; list-style-image: url(../../models/images/icon_list.png);}
.models .models_tab .tabBox .txt_area .spec_list_wrap .memo { clear: both; float: right; }
.models .models_tab .tabBox .txt_area .spec_list_wrap .memo p { font-size:12px; font-style:italic; color:#999; line-height:1.4; }


/* =========================================================
 ◆ performance CSS
========================================================= */
.perfomance #Mainvis { padding-top:0; }
.perfomance #dirPath { padding-top:120px; }
.perfomance #Main { padding-top:0; }
.perfomance #Main h4 { font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; }
.perfomance #Mainvis h2 span.mtxt { font-size: 72px; color:#222; }
.perfomance #Mainvis { width:100%; overflow:hidden;}
.perfomance #Mainvis #Mainvis_inner { width:100%;}
.perfomance #Mainvis .titlearea01 { margin-bottom: 3px; }
.perfomance #Mainvis #Mainvis_inner .mainimg { width:100%; height:710px; margin:0 auto; background:url(../../performance/images/bg_main.png) center top no-repeat; }
.perfomance #Mainvis #Mainvis_inner .mainimg .mainimg_inner { width:960px; margin:0 auto; padding-top: 45px; }
.perfomance #Mainvis #Mainvis_inner .mainimg .sp_imgstyle_01 { display:none; }
.perfomance #Mainvis_inner .mainimg .txtarea_main { text-align:center; width:750px; margin:0 auto; background: #bfe1ff; opacity: .7;}
.perfomance #Mainvis_inner .mainimg .txtarea_main p { width:700px; text-align:left; font-size:16px; margin-left:30px; color:#666; line-height: 22.5px; }

.perfomance .perfombox_01 { width:960px; margin:60px auto 40px; }
.perfomance .perfombox_01 .l_box { width:465px; display:inline; float:left; margin-right:30px; float: left; }
.perfomance .perfombox_01 .r_box { width:465px; display:inline; float:left; }
.perfomance .perfombox_01 .r_box .r_box_inner { margin-bottom:20px; }


.perfomance .perfombox_01 .r_box .r_box_inner_l,
.perfomance .perfombox_01 .r_box .r_box_inner_c,
.perfomance .perfombox_01 .r_box .r_box_inner_r { width:155px; display:inline; float:left; }
.perfomance .perfombox_01 .r_box .inner_img { margin-bottom:10px; }

.perfomance .perfombox_02 { width:960px; margin:0 auto 40px; }
.perfomance .perfombox_02 .l_box { width:465px; display:inline; float:left; margin-right:30px; }
.perfomance .perfombox_02 .r_box { width:465px; display:inline; float:left; }

.perfomance .perfombox_03 { width:960px; margin:0 auto 40px; }
.perfomance .perfombox_03 .l_box { width:300px; display:inline; float:left; margin-right:30px; }
.perfomance .perfombox_03 .l_box .hidden_img { display: none; }
.perfomance .perfombox_03 .r_box { width:630px; display:inline; float:left; }
.perfomance .perfombox_03 .img_4wd { width: 300px; height: auto; margin-right: 15px; float: left; }
.perfomance .perfombox_03 .img_logo { padding-top: 30px;  float: left; }

.perfomance .perfombox_04 { width:960px; margin:0 auto 40px; }
.perfomance .perfombox_04 .l_box { width:465px; display:inline; float:left; margin-right:30px; }
.perfomance .perfombox_04 .r_box { width:465px; display:inline; float:left; }

.perfomance .perfombox_05 { width:960px; margin:0 auto 40px; }
.perfomance .perfombox_05 .l_box { width:465px; display:inline; float:left; margin-right:30px; }
.perfomance .perfombox_05 .r_box { width:465px; display:inline; float:left; }

.perfomance .txtstyle_01 { font-size:16px; color:#666666; line-height:22.5px;}
.perfomance .txtstyle_02 { font-size:12px; color:#999999; line-height:1.4; font-style:italic; }
.perfomance .txtstyle_03 { font-size:36px; font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; color:#666666; margin-bottom:30px; border-bottom:solid 1px #DDDDDD; padding-bottom:4px; }
.perfomance h4.txtstyle_04 { font-size:36px; font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; color:#666666; margin-bottom:30px; border-bottom:solid 1px #DDDDDD; padding-bottom:4px; } 
.perfomance .txtstyle_center { text-align:center }
.perfomance .notes {
  color: #666;
  opacity: .5;
  margin-top: 30px;
}


/* =========================================================
 ◆ gallery CSS
========================================================= */
.gallery #Main .titlearea01 { margin-bottom:45px;}
.gallery #Main .scenes_inner { width:960px; margin:0 auto 0px; padding:58px 0 121px;}
.gallery #Main .scenes_inner #flexslider { position: relative; padding-bottom: 27px; } 
.gallery #Main .scenes_inner #carousel { position: relative; width: 700px; margin: 0 auto; } 
.gallery #Main .scenes_inner #carousel .slides li { height: 91px; float:left; display:inline; cursor: pointer; }
.gallery #Main .scenes_inner #carousel .slides li img { height: 85px; margin-right:14px; }
.gallery #Main .scenes_inner #carousel .slides li.last img { margin-right:0;}
.gallery #Main .scenes_inner #carousel .slides li.flex-active-slide img { border: solid 3px #858585; }
.gallery #Main .scenes_inner #carousel li img { display: inline;}
.gallery #Main .movie { background: #EEE;}
.gallery #Main .movie .movie_inner { width: 960px; padding: 53px 0 90px; margin: 0 auto;}
.gallery #Main .movie .movie_inner .titlearea01 { margin-bottom:40px; }
.gallery #Main .movie .movie_inner .movie_main {width: 712px; height: 400px; margin: 0 auto; position: relative;}
.gallery #Main .movie .movie_inner .movie_thumb {width: 712px; height: 400px; position: absolute; left: 0; top: 0; z-index: 2; cursor: pointer; background: #EEE;}
.gallery #Main .movie .movie_inner .movie_thumb img { opacity: 1;}
.gallery #Main .movie .movie_inner .movie_youtube { position: absolute; left: 0; top: 0; z-index: 1;}
.gallery #Main .movie .movie_inner .movie_youtube  iframe { visibility:hidden; }
.gallery #Main .views360 { background: url(../../gallery/images/bg_views360.png) repeat-x left bottom #fff;}
.gallery #Main .views360 .views360_inner { padding-top: 53px; padding-bottom: 70px;}
.gallery #Main .views360 .views360_inner .titlearea01 { margin-bottom:0; }
.gallery #Main .views360 .views360_inner .views360_main { width: 960px; margin: 0 auto; position: relative;}
.gallery #Main .views360 .views360_inner .views360_main .Rotation_area { width: 900px; height: 400px; margin: 0 auto; position: relative; cursor: url(../../gallery/images/rotate/icon_cursor.png), e-resize;}
.gallery #Main .views360 .views360_inner .views360_main .Rotation_area .loading_img { width: 20px; height: 20px; position: absolute; top: 50%; left: 50%; margin-left: -10px; margin-top: -10px; background: url(../../gallery/images/rotate/load.gif) no-repeat left top;}
.gallery #Main .views360 .views360_inner .views360_main .Rotation_area #Loading_list img { visibility: hidden;}
.gallery #Main .views360 .views360_inner .views360_main .Rotation_area #Loading_list img.current-img { visibility: visible; width: 100%;}
.gallery #Main .views360 .views360_inner .views360_main .Rotation_area #Loading_list img.previous-img { visibility: hidden; width:0;}
.gallery #Main .views360 .views360_inner .views360_main #Rotation_nav {}
.gallery #Main .views360 .views360_inner .views360_main #Rotation_nav .rotation_left { position: absolute; top: 164px; right: 0;}
.gallery #Main .views360 .views360_inner .views360_main #Rotation_nav .rotation_right { position: absolute; top: 164px; left: 1px;}


/* =========================================================
 ◆ Safety CSS
========================================================= */
.safety #Main h2 span.mtxt { font-size: 72px; }
.safety #Main h3,
.safety #Main h4,
.safety #Main h5 { font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; }
.safety #Main h3 { font-size:32px; color:#666666; padding-bottom: 6px; border-bottom: 1px solid #DDDDDD; margin-bottom: 30px; }
.safety #Main h2 { text-align: left; }
.safety #Main .section_wrap p { font-size:16px; color: #666666; line-height:22.5px; }
.safety #Main .section_wrap section { width: 960px; margin: 0 auto 40px; }

.safety #Main .cont_head { width:100%; height:710px; background:url(../../safety/images/bg_main.png) center top no-repeat; margin-bottom: 60px; }
.safety #Main .cont_head .cont_head_inner {  width: 960px; padding-top: 60px; margin: 0 auto; } 
.safety #Main .cont_head .cont_head_inner .title_box { text-align: left; }
.safety #Main .cont_head .cont_head_inner .title_box h2 span.mtxt { color: #ffffff; }
.safety #Main .cont_head .cont_head_inner .title_box p { width: 300px; font-size:16px; color: #ffffff; line-height:22.5px; }



.safety #Main .adaptive { margin-bottom:52px !important; }
.safety #Main .adaptive .adaptive_box01 { margin-bottom:50px; }
.safety #Main .adaptive .adaptive_box01 .last { margin-bottom:0; }
.safety #Main .adaptive .adaptive_box01 .adaptive_box_L { width: 630px; display: inline; float: left; margin-right: 30px; }
.safety #Main .adaptive .adaptive_box01 .adaptive_box_R { width: 300px; display: inline; float: left; }
.safety #Main .adaptive .adaptive_box01 .adaptive_box_R img { width: 300px; height: auto;  }
.safety #Main .adaptive h4 { font-size: 24px; color: #333333; }
.safety #Main .adaptive img { margin-bottom: 9px; }

.safety #Main .forward { margin-bottom:32px !important; }
.safety #Main .forward h3 { margin-bottom:10px; }
.safety #Main .forward p.txtstyle_01 { margin-bottom: 12px; }
.safety #Main .forward img { margin-bottom: 9px; }
.safety #Main .forward .p_wrapper { width: 960px; margin-bottom: 10px; }
.safety #Main .forward .p_wrapper .p_inner { width: 465px; }
.safety #Main .forward .forward_box01 { margin-bottom:50px; }
.safety #Main .forward .last { margin-bottom: 0; }
.safety #Main .forward .adaptive_box01 .adaptive_box_L { width: 630px; display: inline; float: left; margin-right: 30px; }
.safety #Main .forward .adaptive_box01 .adaptive_box_R { width: 300px; display: inline; float: left; }
.safety #Main .forward .adaptive_box01 .adaptive_box_R img { width: 300px; height: auto;  }
.safety #Main .forward .forward_box01 .forward_box_L img { width: 630px; display: inline; float: left; margin-right: 30px; }
.safety #Main .forward .forward_box01 .forward_box_R { width: 300px; display: inline; float: left; }
.safety #Main .forward h4 { font-size: 24px; color: #333333; }



.safety #Main .section_wrap .note p { width: 960px; margin-bottom: 10px; font-size:12px; font-style:italic; color:#999; line-height:1.4; }

.safety #Main .hsa { margin-bottom:52px !important; }
.safety #Main .hsa .txtstyle_01 { margin-bottom: 15px; }
.safety #Main .hsa .hsa_box01 { margin-bottom:50px }
.safety #Main .hsa .hsa_box01 .last { margin-bottom:0 }
.safety #Main .hsa .hsa_box01 .hsa_box01_L { width: 300px; display: inline; float: left; margin-right: 30px; }
.safety #Main .hsa .hsa_box01 .hsa_box01_R { width: 630px; display: inline; float: left; }
.safety #Main .hsa .hsa_box01 { margin-bottom:50px }
.safety #Main .hsa .hsa_box01 .last { margin-bottom:0 }
.safety #Main .hsa .hsa_box01 .hsa_box02_L { width: 465px; display: inline; float: left; margin-right: 30px; }
.safety #Main .hsa .hsa_box01 .hsa_box02_R { width: 465px; display: inline; float: left; }
.safety #Main .hsa h4 { font-size: 24px; color: #333333; }
.safety #Main .hsa img { margin-bottom: 9px; }
/*.safety #Main .fcm .fcm_box01 .fcm_box01_R figure p { font-style: italic; font-size: 12px; color: #999999; line-height:1.4; }*/

.safety #Main p.txtstyle_01 { line-height: 22.5px; font-size: 16px; color: #666666; }
.safety #Main p.txtstyle_02 { font-style: italic; font-size: 12px; color: #999999; }

/* =========================================================
 ◆ utility CSS
========================================================= */
.utility #Main { padding-top:59px; }
.utility #dirPath {  padding-top:120px; }

.utility .titlearea01 { margin-bottom:58px; }
.utility .titstyle_01 { font-size:24px; font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; color:#333333; margin-bottom:7px; }
.utility .txtstyle_01 { font-size:16px; color:#666666; line-height:22.5px; }
.utility .txtstyle_02 { font-size:12px; color:#999999; line-height:1.4; font-style:italic; }

.utility .txtarea_main { text-align:center; width:750px; margin:0 auto; }
.utility .txtarea_main p { width:700px; text-align:left; font-size:16px; margin-left:30px; color:#666; line-height: 22.5px; }

.utility .display_list01 { width:960px; margin:0 auto 40px; }
.utility .display_list01 li { width:300px; display:inline; float:left; margin: 0 30px 46px 0; }
.utility .display_list01 li.right { margin-right: 0; }
.utility .display_list01 li figure {}
.utility .display_list01 li figure img { margin-bottom:12px; }
.utility .display_list01 li figure h3 { font-size:24px; font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; color:#333; line-height:1; margin-bottom:3px; }
.utility .display_list01 li figure figcaption p { font-size:16px; color:#666666; line-height:22.5px; }



/* =========================================================
 ◆ Entertainment Page CSS
========================================================= */

/* Web Font [AlternateGothicCom-No2] */
.entertainment h2,
.entertainment h3,
.entertainment p span.h3 { font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; }
/* Web Font [Helvetica] */
.entertainment p,
.entertainment .sound_system_list li { font-family:"Helvetica",Arial\9, Helvetica\9, sans-serif\9; font-size:16px; color:#666; line-height:22.5px; }

/* Main */
.entertainment .titlearea01 { position:relative; margin:0 auto; padding-top:58px; }
.entertainment .titlearea01 { font-size:14px; font-family:"Helvetica",Arial\9, Helvetica\9, sans-serif\9; color:#E50012; line-height:1; margin-bottom:6px; display:block; font-weight:bold; }
.entertainment .txtarea_main { text-align:center; width:750px; margin:0 auto; }
.entertainment .txtarea_main p { width:700px; text-align:left; font-size:16px; margin-left:30px; color:#666; line-height: 22.5px; }


.entertainment .section_wrap { background:#fff; padding:58px 0 100px; }
.entertainment .entry_block { width:960px; margin:0 auto 0px; }
.entertainment .entry_block h3 { font-size:24px; color:#333; line-height:1; margin-bottom:3px; }
.entertainment .entry_block ul { margin-bottom:25px; }
.entertainment .entry_block ul li { width:300px; float:left; margin:0 0 46px 0; }
.entertainment .entry_block ul li figure img { margin-bottom:12px; }
.entertainment .entry_block ul li figure figcaption h3 { font-size:24px; color:#333; line-height:1; margin-bottom:3px; }
.entertainment .entry_block p.note { font-size:12px; color: #999999; line-height:1.2; margin-bottom:45px; font-style: italic; }

.entertainment .entry_block .audio_block { margin-bottom:46px; }
.entertainment .entry_block .audioblock_L { width:630px;  float: left; height: auto; margin-right: 30px; }
.entertainment .entry_block .audioblock_R { width: 300px; float: right; }
.entertainment .entry_block .audioblock_R h3 { margin-bottom: 10px; }

.entertainment .registered { font-size:70%; vertical-align:super; }

.entertainment .sound_system { margin-bottom:46px; }
.entertainment .sound_system h2 { font-size:36px; color:#666; line-height:1; border-bottom:solid 1px #ddd; text-align:left !important; margin-bottom:28px; padding-bottom:8px; }
.entertainment .sound_system h3 {  font-size:24px; color:#333; line-height:1; margin-bottom:3px;  }


.entertainment .sound_system .ss_inner { width:960px; margin:0 auto; }
.entertainment .sound_system h2 { font-size:36px; color:#666; line-height:1; border-bottom:solid 1px #ddd; text-align:left !important; margin-bottom:28px; padding-bottom:8px; }
.entertainment .sound_system .ss_inner > p.bm10 { margin-bottom: 30px; }
.entertainment .sound_system .sound_system_box_01 { margin-bottom: 10px; }
.entertainment .sound_system .sound_system_box_01 .sound_system_box_L { width:465px; float:left; display:inline; margin-right: 30px; }
.entertainment .sound_system .sound_system_box_01 .sound_system_box_R { width:465px; float:left; display:inline; }
.entertainment .sound_system .sound_system_box_01 .sound_system_inner { margin-top:15px; }
.entertainment .sound_system .sound_system_box_01 .sound_system_box_innerL { width:180px; float:left; display:inline; margin-right: 20px; }
.entertainment .sound_system .sound_system_box_01 .sound_system_box_innerR { width:265px; float:left; display:inline; }

.entertainment .sound_system .sound_system_box_02 .sound_system_box_L { width:300px; float:left; display:inline; margin-right: 30px; }
.entertainment .sound_system .sound_system_box_02 .sound_system_box_R { width:630px; float:left; display:inline; }


/* =========================================================
 ◆ Specifications Page CSS
========================================================= */
/* Web Font [AlternateGothicCom-No2] */
.specifications h3,
.specifications .warning p.tit { font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; }
/* Web Font [Helvetica] */
.specifications th, .specifications td { font-family:"Helvetica",Arial\9, Helvetica\9, sans-serif\9; font-size:16px; color:#666; line-height:22.5px; }

/* Main */
.specifications .titlearea01 { margin-bottom:52px; }
.specifications section.wrap { width:960px; padding:59px 0 0; margin:0 auto 96px; }

/* section_header */
.specifications .section_head { margin-bottom: 7px; }
.specifications .section_head h3 { width:auto; float:left; font-size:24px; color:#333; line-height:1.4; letter-spacing:0.4px;}
.specifications .section_head .check_wrap { width:auto; float:right; padding-top:11px; }
.specifications .section_head .check_wrap ul li { width:auto; float:left; background-repeat:no-repeat; background-position:0px 3px; -webkit-background-size: 10px; background-size: 10px; font-size:14px; color:#333; line-height:1.2; padding-left:17px; margin-right:16px; }
.specifications .section_head .check_wrap ul li.last { margin-right:0; }
.specifications .section_head .check_wrap ul li.available { background-image: url(../../specifications/images/icon_standard.png);  }
.specifications .section_head .check_wrap ul li.standard { background-image: url(../../specifications/images/icon_standard.png); }
.specifications .section_head .check_wrap ul li.optional { background-image: url(../../specifications/images/icon_optional.png); }
.specifications .section_head .check_wrap ul li.not_available { background-image: url(../../specifications/images/icon_not.png); }

/* table cell  */
.specifications .table_wrap { width:100%; }
.specifications table { width:100%; table-layout: fixed; border-collapse: collapse; border-top:solid 1px #333; }
.specifications th,
.specifications td { border-style:solid; font-size:14px; color:#333; line-height:1.4; }
.specifications th { border-width:1px 1px 0 0; vertical-align:top; padding:11px 16px 12px; }
.specifications td { border-width:1px 0 0 1px; text-align:center; vertical-align:middle; padding:11px 0 12px; }
.specifications th.tit { width:270px; font-weight:bold; padding-left:0; }
.specifications th.sub_th { padding-left:7px; }
.specifications th.fixed { width:16px; border-width:1px 0 0 0 !important; padding:0 !important; line-height:22.5px; }
.specifications th i { font-size:12px; color:#666; }
.specifications td img.icon { display:inline; width:10px; vertical-align:middle; }
.specifications td.note { padding-left: 0.3em;}

/* table border  */
.specifications tbody.type_01.last { border-bottom:solid 1px #dddddd; }
.specifications tbody.type_02.last { border-bottom:solid 1px #cccccc; }

/* table bg color  */
.specifications tbody.type_01 th,
.specifications tbody.type_01 td { border-color:#dddddd; }
.specifications tbody.type_01 th { background: #f5f5f5; }
.specifications tbody.type_01 td { background: #fafafa; }
.specifications tbody.type_02 td,
.specifications tbody.type_02 th { border-color:#cccccc; }
.specifications tbody.type_02 th { background: #e5e5e5; }
.specifications tbody.type_02 td { background: #eeeeee; }

/* car figure  */
.specifications p.note { font-size:12px; font-style:italic; color:#999; line-height:1.4; margin:12px 0 38px;}
.specifications p.txtstyle_01 { font-size:12px; font-style:italic; color:#999; line-height:1.4; }

.specifications .dimensional .section_head { margin-bottom:23px; }
.specifications .dimensional figure img { }
.specifications .dimensional figure figcaption { font-size:12px; font-style:italic; color:#999; line-height:1.2; text-align: right; }
.specifications .dimensional { margin-bottom: 28px; }

/* table 微調整 */
.specifications .exterior table th,
.specifications .exterior table td { word-break:break-all; }
.specifications th.ttl { width:270px; font-weight:bold; padding-left:0; }
.specifications th.th01 { width:28%; }
.specifications .exterior th.ttl { width:22%; }
.specifications .standard th.ttl { width:12%; }
.specifications .technical th.ttl { width:14%; }

.specifications th.th-01 { width:26%; }
.specifications .standard th.tit { width:12%; }
.specifications .technical th.tit { width:14%; }
/*.specifications th.th-01 { width:250px; }
.specifications .standard th.tit { width:100px; }
.specifications .technical th.tit { width:140px; }*/


.specifications table .brn { border-right:none !important; }
.specifications table .bln { border-left:none !important; }




/* table sp pdf */
.specifications .sp_pdf_dl { width: 99.2907%; margin: 0 auto;}
.specifications .sp_pdf_dl .sp_dl_btn { margin-bottom: 15px;}
.specifications .sp_pdf_dl p.note { font-size: 12px; font-style: italic; color: #999; line-height: 1.4; margin: 12px 0 0;}


/* =========================================================
 ◆ Accessories Page CSS
========================================================= */
/* Web Font [AlternateGothicCom-No2] */
.accessories #Mainvis h2 span.mtxt,
.accessories .interior_inner h2,
.accessories .interior h2,
.accessories .electric h2 { font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; }

/* Web Font [Helvetica] */
.accessories #Mainvis h2 span.super, .accessories #Mainvis ul.bxslider01 li figcaption { font-family:"Helvetica",Arial\9, Helvetica\9, sans-serif\9; }
.accessories p { font-family:"Helvetica",Arial\9, Helvetica\9, sans-serif\9; font-size:16px; color:#666; line-height:22.5px; }
.accessories .note { font-size:12px; font-style:italic; color:#999; line-height:1.4; margin:12px 0 0;}

/* header fix */
.accessories header { position: fixed; z-index: 1000; }

/* Main */
.accessories #Mainvis { background:url(../../accessories/images/bg_gradation.png) repeat-x left bottom #fff; margin-bottom:0px; padding-bottom:50px; }
.accessories #Mainvis #Mainvis_inner { width:960px; position: relative; margin:0 auto; padding-top:58px; }
.accessories #Mainvis h2 { margin:0 auto 35px; }
.accessories #Mainvis .main_img { width:730px; margin:0 auto 35px; }
.accessories #Mainvis .exterior_box_R { width:465px; display:inline; float:left; margin-left:30px; }
.accessories #Mainvis .exterior_box_L { width:465px; display:inline; float:left; padding-top:40px; }

.accessories .slides p { font-size:14px; color:#666; line-height:1.4; text-align:center; margin:10px 0 0; }

.accessories .exterior_slide { background: #FFF; }
.accessories .exterior_slide .exterior_slide_inner { width:960px; margin:0 auto; padding:80px 0 100px; }

.accessories .interior { background: #000; }
.accessories .interior .interior_inner { width:960px; margin:0 auto; padding:53px 0 100px; }
.accessories .interior h2 { display:inline-block; font-size:56px; color:#FFF !important; line-height:1; text-align:center; border-bottom:solid 1px #DCDCDC; margin:0 auto 34px; padding: 0 20px 4px; }
.accessories .interior h2.titlestyle01 span.mtxt { color:#FFF !important; }

.accessories .electric { background: #FFF; }
.accessories .electric .electric_inner { width:960px; margin:0 auto; padding:53px 0 125px; }
.accessories .electric h2 { display:inline-block; font-size:56px; color:#333; line-height:1; text-align:center; border-bottom:solid 1px #DCDCDC; margin:0 auto 34px; padding: 0 20px 4px; }

.accessories .flex-direction-nav a:link,
.accessories .flex-direction-nav a:visited,
.accessories .flex-direction-nav a:active,
.accessories .flex-direction-nav a:hover { outline: none; }


/* =========================================================
 ◆ catalog CSS
========================================================= */
.catalog #dirPath { padding-top:120px; }
.catalog #Main { padding-top:59px; }
.catalog #Mainvis { padding-top:0; }
.catalog .titlearea01 { margin-bottom:60px; }
.catalog .catalogarea { width:960px; margin:0 auto; }
.catalogimg { margin-bottom:9px; }
.catalogimg_sp { display:none; }
/* .catalogimg .downloadbtn { width:217px; height:45px; position:absolute; bottom:0; } */
.catalogbox a:hover { opacity:0.7; }
.catalogbox .catalog_tit { font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; color:#333333; font-size:24px; }
.catalogbox .language { color:#666666; font-size:16px; }
.catalog .note { font-size:12px; font-style:italic; color:#999; line-height:1.4; margin:12px 0 0;}

.catalog .titstyle_01 { font-size:36px; font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; color:#666666; margin-bottom:30px; border-bottom:solid 1px #DDDDDD; padding-bottom:4px; }
.catalog .catalogbox ul.catalogList { margin-bottom:30px; }
.catalog .catalogbox .type_ab img { width:40px; height:15px; }

.catalogbox ul li { display:inline; float:left; margin-right:30px; }
.catalogbox ul li.last { margin-right:0 !important; }
.catalogarea .titstyle_03 { font-size:36px; font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; color:#666666; margin-bottom:30px; line-height:1.0; }
.catalogarea .titstyle_03_inner { border-bottom:solid 1px #DDDDDD; padding-bottom:4px;}
.catalogarea .f_box { display:inline; width:465px; float:left; }
.catalog01 { margin-bottom:42px; }
.catalog02 { margin-bottom:90px; }
.gcc { margin-right:30px; }


.design .seating ul>.last {
  width: 64%;
  float: left;
}