@charset "utf-8";
body { background:#1E1E1E;}
#Mainvis { width:100%; background:#7F7F7F;}

#Mainvis #Mainvis_inner {}
#Mainvis #Mainvis_inner #Mainvis_bg { background:url(../../images/bg_01.png) no-repeat center center; margin:0 auto; position:relative; background-size:cover; height:630px;}
#Mainvis #Mainvis_inner .imgstyle_01 { display:none;}
#Mainvis #Mainvis_inner .txtarea_01,
#Cont .boxstyle_02 .txtarea_01,
#Cont .boxstyle_03 .txtarea_01,
#Cont .boxstyle_04 .txtarea_01  { width:960px; position:absolute; left:50%; top:0; margin-left:-480px;}
#Mainvis #Mainvis_inner .txtarea_01 .titstyle_01 { padding:50px 0 0; font-size:72px; color:#FFF; font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; line-height:1.0;}
#Mainvis #Mainvis_inner .txtarea_01 .car_sub { padding:0 0 30px; font-size:24px; color:#FFF; font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; line-height:1.0;}
#Mainvis #Mainvis_inner .txtarea_01 .titstyle_02 { font-size:13px; color:#E50012 !important; display:block; line-height:1.0; margin-bottom:20px; font-weight:bold; font-family:"Helvetica",Arial\9, Helvetica\9, sans-serif\9;}
#Mainvis #Mainvis_inner .txtarea_01 p { width: 300px; font-size:16px; color:#FFF; display:block; line-height:1.0; margin-bottom:25px; font-weight:normal; line-height:22.5px}
#Mainvis #Mainvis_inner .txtarea_01 .sp_btnstyle_02 { display:none;}
#Mainvis #Mainvis_inner .btnstyle_01 { width:100px; position:absolute; left:50%; bottom:0; margin-left:-50px; height:55px;}

#Cont .boxstyle_02 .imgstyle_02 { background:url(../../images/bg_02.png) top center no-repeat; height: 659px; }
#Cont .boxstyle_03 .imgstyle_02 { background:url(../../images/bg_03.png) top center no-repeat; height: 659px; }
#Cont .boxstyle_04 .imgstyle_02 { background:url(../../images/bg_04.png) top center no-repeat; height: 659px; }

#Cont .boxstyle_02 .imgstyle_02 img,
#Cont .boxstyle_03 .imgstyle_02 img,
#Cont .boxstyle_04 .imgstyle_02 img { display:none;}

#Cont .boxstyle_02 .txtarea_01 { padding:364px 0 0 0 !important; color:#333;}
#Cont .boxstyle_03 .txtarea_01,
#Cont .boxstyle_04 .txtarea_01 { padding:76px 0 0 0 !important; color:#333;}

#Mainvis .txtarea_01 .txtarea_01_inner { width: 347px; float: right; padding-top: 28px; }

#Cont .boxstyle_02 .txtarea_01 .txtarea_01_inner { width: 500px; margin-left: 2px; }
#Cont .boxstyle_04 .txtarea_01 .txtarea_01_inner { width:300px; }

#Cont .boxstyle_02 .txtarea_01 .titstyle_01,
#Cont .boxstyle_03 .txtarea_01 .titstyle_01,
#Cont .boxstyle_04 .txtarea_01 .titstyle_01 { font-size:56px !important; line-height:1.0; margin-bottom:5px; font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9;}

#Cont .boxstyle_02 .txtarea_01 .titstyle_01 { color: #FFF; }

#Cont .boxstyle_02 .txtarea_01 .titstyle_01 span,
#Cont .boxstyle_03 .txtarea_01 .titstyle_01 span,
#Cont .boxstyle_04 .txtarea_01 .titstyle_01 span  { font-size:13px; color:#E50012 !important; display:block; line-height:1.0; margin-bottom:5px; font-weight:bold; font-family:"Helvetica",Arial\9, Helvetica\9, sans-serif\9;}

#Cont .boxstyle_02 .txtarea_01 .txtarea_01_inner p,
#Cont .boxstyle_03 .txtarea_01 .txtarea_01_inner p,
#Cont .boxstyle_04 .txtarea_01 .txtarea_01_inner p { margin-bottom:28px; font-size:16px; line-height:22.5px; color:#666;}
#Cont .boxstyle_02 .txtarea_01 .txtarea_01_inner p { color: #FFF; }

#Cont .boxstyle_02,
#Cont .boxstyle_03,
#Cont .boxstyle_04 { position:relative;}

#Cont .boxstyle_03 .txtarea_01 .txtarea_01_inner { float:right; width:270px; display:inline; margin-right:30px;}


#Mainvis #Mainvis_inner .sp_imgstyle_01,
#Cont .boxstyle_02 .sp_imgstyle_02,
#Cont .boxstyle_03 .sp_imgstyle_02,
#Cont .boxstyle_04 .sp_imgstyle_02,
#Cont .boxstyle_02 .sp_btnstyle_02,
#Cont .boxstyle_03 .sp_btnstyle_02,
#Cont .boxstyle_04 .sp_btnstyle_02 { display:none;}


/* header fixed */
#Mainvis { padding-top: 120px; }